<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registation page</title>
  </head>
  <body>
    <h1>Sign up for a new account!</h1>
    <h3>It's free to join snippy snipps</h3>
    <form class="" action="/regNewAcct" method="post">
      <label for="">User Name:</label>
      <input type="text" name="username">
      <label for="">Password:</label>
      <input type="text" name="password">
      <label for="">Password hint:</label>
      <input type="text" name="passwordHint">
      <label for="">Email:</label>
      <input type="text" name="eMail">
      <input type="submit" name="submitButton" value="Sign up!">
    </form>
  </body>
</html>
