<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Your Snippy Snipps</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>This is the page to view all Snippy snipets</h1>
  {{#snippySnips}}
    <ul>
      <h3><a href="singleSnippy/{{id}}">{{title}}</a></h3>
      <h4>Language: {{language}}</h4>
      <h4>Tags</h4>
      <p>{{tags}}</p>
    </ul>
  {{/snippySnips}}
  {{#singleSnip}}
    <ul>
      <h3>{{title}}</h3>
      <pre><code>{{body}}</code></pre>
      <p>{{notes}}</p>
      <h4>Language: {{language}}</h4>
      <h4>Tags</h4>
      <p>{{tags}}</p>
    </ul>
  {{/singleSnip}}
  <h3>{{message}}</h3>
  <a href="/SnippySearch">Search from Snippy Snipps</a>
  <br>
  <a href="/createASnippy">Make a new Snippy Snipp!</a>
  <form class="logout" action="/logout" method="post">
    <input type="submit" name="" value="Logout">
  </form>
</body>

</html>
